<h3>Engin Technologies Performance Review Form</h3>

<table class="table table-hover table-striped">
  <thead class="table-dark">
  <tr>
    <th>Question</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @question.each do |quest| %>
    <tr>
      <td><%= quest.question %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2>Add questions</h2>

<%= form_with model: @question , url: add_question_path do |f| %>

  <div class="field">
    <%= f.label :question %><br/>
    <%= f.text_area :question, :cols => 40, :rows => 5 %>
  </div>

  <div class="field">
    <% f.label :"Id 1"%><br/>
    <%= f.text_field :evaluation_forms_id , value: 1, type:"hidden"%>
  </div>
  <div class="actions">
    <%= f.submit "Add question" %>
  </div>
<% end %>
