
<% if user_signed_in? &&  current_user.role == "HR"%>

  <h1>Manager List</h1>
  <table class="table table-hover table-striped">
    <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>CNIC</th>
      <th>Email</th>
      <th>Joining Date</th>
      <th>Role</th>
      <th colspan="5"></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <% if user.role == "Manager" %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.cnic %></td>
          <td><%= user.email %></td>
          <td><%= user.join_date %></td>
          <td><%= user.role %></td>
          <td><%= link_to 'Edit',edit_path(id: user.id), class:"btn btn-primary" %></td>
          <td><%= link_to "Delete", user, method: :delete, data: { confirm: "Are you sure"}, class: "btn btn-danger" %></td>
        </tr>
      <%end %>
    <% end %>

    </tbody>
  </table>

  <h1>Employee List</h1>
  <table class="table table-hover table-striped">
    <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>CNIC</th>
      <th>Email</th>
      <th>Joining Date</th>
      <th>Role</th>
      <th>Assigned Manager</th>
      <th>Edit user</th>
      <th>Delete user</th>
      <th>Form status</th>
      <th>HR Remarks</th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>

    <% @users.each do |user| %>
      <% if user.role == "Employee" %>
        <tr>
          <% @manager = User.find_by_id(user.manager_id)%>
          <td><%= user.name %></td>
          <td><%= user.cnic %></td>
          <td><%= user.email %></td>
          <td><%= user.join_date %></td>
          <td><%= user.role %></td>
          <td><%= @manager.name %></td>
          <td><%= link_to 'Edit User',edit_path(user), class:"btn btn-primary" %></td>
          <td><%= link_to "Delete User", user, method: :delete, data: { confirm: "Are you sure"}, class: "btn btn-danger" %></td>

          <% @formEmp = EvaluationForm.find_by(user_id: user.id) %>
          <% @formMan = EvaluationForm.find_by(user_id: user.id, submit_by: @manager.name) %>
          <% @formHR = EvaluationForm.find_by(user_id: user.id, submit_by: current_user.name) %>


          <% if @formHR.present? %>
            <td><%= "Remarks given"%></td>

          <% elsif @formMan.present? && user.evaluation_form.present?%>
            <td><%= link_to "Give remarks",new_evaluation_form_path(user_id: user, emp_id: @formEmp.id, mid: @formMan.id), class: "btn btn-success" %></td>

          <% elsif user.evaluation_form.present? %>
            <td><%= "Submit by Employee"%></td>

          <%else %>
            <td><%= "Not submit by employee" %></td>
          <%end %>

          <% if @formHR.present? %>
            <td><%= @formHR.comment %></td>
          <%else %>
            <td><%= 'Pending remarks' %></td>
          <%end %>
        </tr>
      <%end %>
    <% end %>
    </tbody>
  </table>

<% elsif user_signed_in? &&  current_user.role == "Employee"%>

  <table class="table table-hover table-striped">
    <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>CNIC</th>
      <th>Email</th>
      <th>Joining Date</th>
      <th>Role</th>
      <th colspan="5"></th>
    </tr>
    </thead>
    <% @manager = User.find_by_id(current_user.manager_id)%>
    <% @userHR = User.find_by(role: "HR") %>

    <% @formEmp = EvaluationForm.find_by(user_id: current_user.id, submit_by: current_user.name) %>
    <% @formMan = EvaluationForm.find_by(user_id: current_user.id, submit_by: @manager.name) %>
    <% @formHR = EvaluationForm.find_by(user_id: current_user.id, submit_by: @userHR.name) %>


    <tbody>
    <tr>
      <td><%= current_user.name %></td>
      <td><%= current_user.cnic %></td>
      <td><%= current_user.email %></td>
      <td><%= current_user.join_date %></td>
      <td><%= current_user.role %></td>

      <%if @formHR.present? %>
        <td><%= link_to 'View your report', evaluation_forms_show_path(id: current_user.id, emp_id: @formEmp.id, m_id: @formMan, hr_id: @formHR ), class: "btn btn-primary" %></td>
      <%elsif @formMan.present? %>
        <td><%= 'Pending HR Remarks' %></td>
      <%elsif current_user.evaluation_form.present? %>
        <td><%= 'Waiting manager response' %></td>
      <%else %>
        <td><%= link_to 'Fill out evaluation forms', new_evaluation_form_path , class:"btn btn-primary" %></td>
      <%end %>

    </tr>
    </tbody>
  </table>

<% elsif user_signed_in? &&  current_user.role == "Manager"%>

  <table class="table table-hover table-striped">
    <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>CNIC</th>
      <th>Email</th>
      <th>Joining Date</th>
      <th>Role</th>
      <th colspan="5"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= current_user.name %></td>
      <td><%= current_user.cnic %></td>
      <td><%= current_user.email %></td>
      <td><%= current_user.join_date %></td>
      <td><%= current_user.role %></td>
    </tr>
    </tbody>
  </table>

  <h1>Manager's Employees</h1>
  <table class="table table-hover table-striped">
    <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>CNIC</th>
      <th>Email</th>
      <th>Joining Date</th>
      <th>Role</th>
      <th>Employee Form Status</th>
      <th>Show Employee Form</th>
      <th colspan="5"></th>
    </tr>
    </thead>
    <tbody>
    <tbody>
    <% @users.each do |user| %>
      <% if user.role == "Employee" && current_user.id == user.manager_id %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.cnic %></td>
          <td><%= user.email %></td>
          <td><%= user.join_date %></td>
          <td><%= user.role %></td>

          <% @formEmp = EvaluationForm.find_by(user_id: user.id, submit_by: user.name) %>
          <% @form = EvaluationForm.find_by(user_id: user.id, submit_by: current_user.name) %>

          <% if @form.present? %>
            <td><%= 'Form submitted by manager' %></td>
          <%elsif user.evaluation_form.present? %>
            <td><%= link_to 'Fill out Evaluation Form', new_evaluation_form_path(user_id: user), class:"btn btn-primary" %></td>
          <% else %>
            <td><%= 'Form not submitted by employee' %></td>
          <%end %>

          <% if @formEmp.present? %>
            <td><%= link_to 'View employee form', evaluation_forms_show_path(id: @formEmp), class: "btn btn-primary" %></td>
          <% else %>
            <td><%= 'Form not submitted by employee' %></td>
          <%end %>

        </tr>
      <%end %>
    <% end %>
    </tbody>

  </table>
<% else %>
  <main role="main">
    <div class="album py-5 bg-light">
      <div class="container">
        <section class="jumbotron text-center">
          <div class="py-5">
            <div class="py-5">
              <div class="container">
                <h1 class="jumbotron-heading">Employee Review System</h1>
                <p class="lead text-muted">We will rank you!.</p>
                <p>
                  <%= link_to " Sign Up", new_user_registration_path, class:"btn btn-primary my-2" %>
                  <%= link_to   "Login", new_user_session_path, class:"btn btn-primary my-2"%>
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

  </main>

<% end %>



<footer class="text-muted">
  <div class="container">
    <p style="text-align:center;">&copy;ERS - 2021 All Rights Reserved  </p>
  </div>
</footer>
