<% if current_user.role == "HR" %>

 <div class="container">
  <%= form_with model: @evaluation_form, url: evaluation_forms_path, method: :post, local: true do |f|%>

    <!--Employee-->
    <table class="table table-striped table-hover">
      <thead class="thead-dark ">
      <tr>
        <% @question_array.each do |question| %>
        <th><%= question %></th>
          <% end %>
        <th>Score</th>
      </tr>
      </thead>

      <tbody>
      <% @formEmp = EvaluationForm.find_by_id(params[:emp_id])%>
      <h3>Employee form</h3>
      <tr>
        <%  answers = @formEmp.responses.split(",") %>
          <% answers.each do |answer| %>
          <td><%= answer %></td>
        <% end %>
        <td><%= @formEmp.score %></td>
      </tr>

      </tbody>
    </table>


    <!--Manager-->


    <table class="table table-striped table-hover">
      <thead class="thead-dark ">
      <tr>
        <% @question_array.each do |question| %>
          <th><%= question %></th>
        <% end %>
        <th>Score</th>
      </tr>
      </thead>

      <tbody>
      <% @formMan = EvaluationForm.find_by_id(params[:mid])%>
      <h3>Manager Form</h3>

      <tr>
        <%  answers = @formMan.responses.split(",") %>
          <% answers.each do |answer| %>
          <td><%= answer %></td>
        <% end %>
        <td><%= @formMan.score %></td>
      </tr>

      </tbody>
    </table>

    <% @user = User.find_by_id(params[:user_id]) %>
    <!--end-->

     <!--HR-->
    <div class="field form-group">
      <%= f.text_field :submit_by, value: current_user.name, class:"form-control", type: "hidden"%>
    </div><br>

    <div class="field form-group">
      <%= f.text_field :user_id, value: params[:user_id], class:"form-control", type: "hidden"%>
    </div><br>

    <div class="field form-group">
      <%= f.label :remarks %>
      <%= f.text_field :comment ,class:"form-control", required: true%>
    </div><br>


    <div class="actions">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>

  <% end %>
 </div>

<% else %>

<div class="container">
  <br><br>
  <h2>Fill out the form</h2>
  <%= form_with model: @evaluation_form, url: evaluation_forms_path, method: :post, local: true   do |f|%>

    <% @question_array.each_with_index do |question,index| %>
      <%= f.label :question ,value: question %><br>
      <%= f.select(:"answer-#{index}", [['1 - Unsatisfactory',1],['2 - Need Improvement',2],['3 - Average',3],['4 - Good',4],['5 - Excellent',5]],{} ,{class:"form-select form-control"})%>
    <%end %>


    <div class="field form-group">
      <%= f.text_field :submit_by, value: current_user.name, class:"form-control", type: "hidden"%>
    </div><br>

    <% if current_user.role == "Employee" %>
      <div class="field form-group">
        <%= f.text_field :user_id, value: @user.id, class:"form-control", type: "hidden"%>
      </div>
    <%else %>
      <div class="field form-group">
        <%= f.text_field :user_id, value: params[:user_id], class:"form-control", type: "hidden"%>
      </div>
    <%end %>
    <div class="actions">
       <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>

    <% end %>
  <%  end%>
</div>
